NEXT_PUBLIC_IDENPLANE_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_IDENPLANE_REALM=quickstart
NEXT_PUBLIC_IDENPLANE_CLIENT_ID=nextjs-quickstart
NEXT_PUBLIC_IDENPLANE_REDIRECT_URI=http://localhost:3001/callback
